<!DOCTYPE html>
html(lang="en")
    head 
       include partials/header
    body.login 

        .contenedor-formulario    
            h1 Iniciar sesión en UpTask
            if error    
                p.alert.error= error

            if locals.mensajes
               .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo 
                    label(for="email") E-mail: 
                    input(type="email" name="email" value= email placeholder="Tu e-mail")
                .campo 
                    label(for="password") Contraseña
                    input(type="password" name="password" value= password placeholder="Tu contraseña")
                .campo.enviar 
                    input.boton(type="submit" value="iniciar sessión")
                .campo.acciones
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? crea una gratis
                    a(href="/reestablecer") ¿Olvidaste tu contraseña? Recuperala
    
    Script(src="/dist/bundle.js")